/*-- Police --*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --season-color: #b89c66;
  --season-color-dark: #a78d59;
  --npyblue: #002f6c;
  --secondary: #d2e3e7;
  --secondary-light: #f2fcff;
  --npyblue-5: #f2f4f7;
  --npyblue-10: #e5e9f0;
  --npyblue-30: #b2c0d2;
  --npyblue-50: #7f96b5;
  --npyblue-70: #4c6d97;
  --shadow: 0 0 20px rgba(46, 53, 70, 0.1);
  --shadowlarge: 0px 0px 99px rgba(59, 139, 219, 0.17);
  --font: 'Open Sans', sans-serif;
}

/* Opener desktop & mobile */

.npy_widget_title {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.npy_widget_luz.active .npy_widget_title {
  cursor: unset;
}

.npy_widget_title img {
  margin-right: 20px;
}

.npy_widget_luz_opener_mobile:hover {
  transform: scale(1.02);
  box-shadow: var(--shadowlarge);
  font-weight: 900;
}

.npy_widget_luz_opener_mobile img {
  width: 40px;
  margin-right: 10px;
}

.npy_widget_luz_opener_desktop {
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 0.3s;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  padding: 14px;
}

.npy_widget_luz.active .npy_widget_luz_opener_desktop {
  transform: rotate(90deg);
}

.npy_widget_luz_opener_desktop:hover {
  opacity: 0.7;
  cursor: pointer;
}

.npy_widget_luz_opener_desktop img {
  width: 10px;
  height: auto;
  transform-origin: center;
  transition: all 0.3s;
}

/* Croix de fermeture */

.npy_widget_luz_closer {
  position: absolute;
  right: 30px;
  top: 30px;
  transition: all 0.3s;
  display: none;
}

.npy_widget_luz_closer img {
  width: 25px;
  height: auto;
}

.npy_widget_luz_closer:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Conteneur */

.npy_widget_luz {
  /* font-family: 'Poppins', 'Raleway', sans-serif; */
  font-family: var(--font);
  color: #fff;
  box-shadow: var(--shadowlarge);
  background: var(--season-color);
  width: fit-content;
  padding: 5px 30px;
  box-sizing: border-box;
  font-size: 15px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 99;
  transition: all 0.3s;
}

.npy_widget_luz.active {
  padding: 30px 90px 30px 30px;
}

.npy_widget_luz .npy_widget_body {
  display: none;
}

.npy_widget_luz.active .npy_widget_body {
  display: block;
}

.npy_widget_luz .npy_widget_sector {
  display: none;
}

.npy_widget_luz .npy_widget_sector.active {
  display: block;
}

.npy_widget_luz .wid_ff.active {
  animation: 0.3s appearance ease-in-out;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Utilitaires */

.npy_widget_luz .npy_widget__main_link {
  background: #030303;
  padding: 0px 16px;
  color: #fff;
  font-size: 14px;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  position: relative;
  height: 42px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 500px;
}

.npy_widget_luz .npy_widget__main_link i {
  transform: translateY(2px);
  display: inline-block;
  margin-left: 5px;
}

.npy_widget_luz .npy_widget__main_link:hover {
  background: #fff;
  color: #000;
}

.npy_widget_luz .npy_widget__main_link.ns {
  background: var(--season-color-dark);
}

.npy_widget_luz .npy_widget_illus {
  height: 240px;
}

.npy_widget__error_msg {
  background: #fbc8c852;
  color: #e32727;
  display: none;
  padding: 15px;
  width: fit-content;

  margin: 15px 0px;
  font-size: 13px;
}

.npy_widget_luz .popover {
  max-width: fit-content;
}

.npy_widget__error_msg.active {
  display: block;
}

/* Logo */

.npy_widget__main_link:after {
  content: '';
  background: url(https://snow.n-py.com/Widgets/Luz/Hiver_2023/img/logo-npy-white.png);
  background-size: 45px 19px;
  position: absolute;
  top: 50%;
  left: 110%;
  height: 50px;
  width: 50px;
  transform: translateY(-19%);
  background-repeat: no-repeat;
}

/* Forfaits - classes génériques */

.npy_widget_luz .npy_widget__pretitle {
  margin: 0;
}

.npy_widget_luz .npy_widget__pretitle span {
  background: #a873fb;
  color: #fff;
  font-weight: 700;
  padding: 1px 2px;

  display: inline-block;
}

.npy_widget_luz h2 {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 25px;
  font-family: 'Lobster', sans-serif;
  letter-spacing: 1px;
}

.npy_widget_luz p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.npy_widget_luz .npy_widget__main_link.ns:hover {
  background: #a873fb;
}

.npy_widget_luz .npy_widget__sec_link {
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
}

.npy_widget_luz .npy_widget__sec_link:hover {
  color: var(--season-color);
}

.npy_widget_luz .npy_widget__sec_link i {
  transform: translateY(2px);
  display: inline-block;
  margin-left: 5px;
  color: var(--season-color);
}

/* Forfaits Ecran de détails */

.npy_widget_forfaits__details {
  display: none;
}

.npy_widget_forfaits__details.active {
  display: block;
}

.npy_widget_forfaits__details > p {
  margin-bottom: 20px;
}

.npy_widget_forfaits__details_form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.npy_widget_forfaits__details_form > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: 1px solid #fff;
  color: #030303;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  min-width: 140px;
  width: 100%;
}

.npy_widget_forfaits__details_form > div img {
  padding: 0px 5px;
  padding: 0px 10px;
  max-height: 15px;
  transform: translateY(2px);
}

.npy_widget_forfaits__details_form input,
.npy_widget_forfaits__details_form select {
  height: 42px;
  border: none;
  /* font-family: 'Poppins'; */
  font-family: var(--font);
}

/* Forfaits - input duration */

#ff-input-duration-container {
  height: 42px;
  padding-right: 10px;
}

.npy_widget_forfaits__details_form #duration-popover {
  position: absolute;
  background: #fff;
  box-shadow: var(--shadow);
  top: -1px;
  padding: 10px 0px;
  width: max-content;
  display: none;
  transform: translateY(-100%);
}

.npy_widget_forfaits__details_form #duration-popover.active {
  display: block;
}

.npy_widget_forfaits__details_form #duration-popover ul {
  padding: 0;
  margin: 0;
}

.npy_widget_forfaits__details_form #duration-popover ul li {
  list-style-type: none;
  padding: 5px 20px;
  text-align: center;
}

.npy_widget_forfaits__details_form #duration-popover ul li.active {
  background: var(--secondary-light);
  font-weight: 700;
}

.npy_widget_forfaits__details_form #duration-popover ul li:hover {
  background: var(--secondary-light);
  cursor: pointer;
}

.npy_widget_forfaits__details_form #duration-popover .npy_widget__sec_link {
  text-decoration: none;
  color: var(--season-color);
  display: block;
  text-align: center;
  margin: 10px 0px;
  padding: 0px 20px;
}

.npy_widget_forfaits__details_form #duration-popover .npy_widget__sec_link:hover {
  color: var(--season-color-dark);
}

/* Forfaits - input skiers */

#ff-input-skiers-container {
  height: 42px;
  padding-right: 10px;
}

.npy_widget_forfaits__details_form #skiers-popover {
  position: absolute;
  background: #fff;
  box-shadow: var(--shadow);
  top: -1px;
  padding: 15px;
  width: max-content;
  display: none;
  transform: translateY(-100%);
}

.npy_widget_forfaits__details_form #skiers-popover.active {
  display: block;
}

.npy_widget_forfaits__details_form #skiers-popover > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid var(--npyblue-10);
}

.npy_widget_forfaits__details_form #skiers-popover > div:last-child {
  border-bottom: none;
}

.npy_widget_forfaits__details_form .popover_label {
  min-width: 150px;
}

.npy_widget_forfaits__details_form .popover_count {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.npy_widget_forfaits__details_form .add,
.npy_widget_forfaits__details_form .remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--season-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.npy_widget_forfaits__details_form .add:hover,
.npy_widget_forfaits__details_form .remove:hover {
  background: var(--season-color-dark);
}

.npy_widget_forfaits__details_form .score {
  width: 30px;
  height: 30px;

  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.npy_widget_forfaits__details_form #skiers-popover > div#skiers-popover-valid {
  color: #000;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.npy_widget_forfaits__details_form #skiers-popover > div#skiers-popover-valid:hover {
  color: var(--season-color-dark);
}

/* Forfaits - input date */
#ff-input-date-container {
  height: 42px;
  display: none;
}

#ff-input-date-container.active {
  display: flex;
}

.npy_widget_forfaits__details_form #ff-input-date-container img {
  padding: 0;
  transform: none;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 12px;
}

.npy_widget_forfaits__details_form #ff-datepicker {
  appearance: none;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #000;
  position: relative;
  padding-left: 35px;
  font-size: 15px;
  background: #fff;
  height: 96%;
}

.npy_widget_forfaits__details_form #ff-datepicker::after {
  content: attr(data-after);
  opacity: 1;
  position: absolute;
  pointer-events: none;
  cursor: pointer;
}

::-webkit-datetime-edit-text,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-year-field {
  background: #fff !important;
  color: #fff !important;
}
::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

@media screen and (max-width: 1020px) {
  .npy_widget_luz {
    padding: 0px 25px;
    bottom: 10px;
    left: 10px;
  }

  .npy_widget_luz h2 {
    letter-spacing: 1px;
  }

  .npy_widget_luz p {
    font-size: 0.8rem;
  }

  .npy_widget_luz.active {
    display: block;
    top: 0;
    left: 0;
    padding-top: 70px;
    width: 100vw;
    height: 100vh;
  }

  .npy_widget_luz.active .npy_widget_luz_opener_desktop {
    display: none;
  }

  .npy_widget_luz.active .npy_widget_luz_closer {
    display: block;
  }

  .npy_widget_luz img {
    transform: none;
    padding-left: 0px;
  }

  .npy_widget_luz .npy_widget_title img {
    max-height: 20px;
  }

  .npy_widget_luz.active .npy_widget_body {
    height: 100%;
  }

  .npy_widget_forfaits__details_form #ff-input-resorts-container {
    display: none;
  }
  .npy_widget_forfaits__details_form {
    flex-direction: column;
    align-items: flex-start;
    min-height: 60px;
  }

  .npy_widget_forfaits__details_form > div {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0px;
  }

  #ff-input-duration-container,
  #ff-input-duration-container,
  #ff-input-skiers-container {
    padding-right: 0;
  }

  .npy_widget_forfaits__details_form #ff-input-date-container img {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .npy_widget_luz .popover {
    max-width: 100vw;
  }

  .npy_widget_forfaits__details_form #duration-popover.active {
    position: fixed;
    background: #fff;
    left: 0px;
    top: 0px;
    padding: 17px;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: none;
  }

  .npy_widget_forfaits__details_form #duration-popover.active ul {
    width: 100%;
    text-align: center;
  }

  .npy_widget_forfaits__details_form #duration-popover.active ul li {
    padding: 15px 0px;
  }

  .npy_widget_forfaits__details_form #skiers-popover.active {
    position: fixed;
    background: #fff;
    left: 0px;
    top: 0px;
    padding: 10px 0px;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: none;
  }

  .npy_widget_forfaits__details_form #skiers-popover > div {
    padding: 30px 0px;
  }

  .npy_widget_forfaits__details_form #skiers-popover > div#skiers-popover-valid {
    width: fit-content;
    padding: 15px 30px;
    margin-top: 24px;
  }
}
